body {
    font-family: 'Arial', sans-serif;
  }

  h1 {
    margin: 0 0 3rem;
    padding: 2rem;
    text-align: center;
    background-color: rgb(2, 1, 15);
    color: white;
  }
  
  #actions{
    margin: 5rem auto;
    text-align: center;
  }

  #actions button{
    padding: 1rem;
    margin: 0 1rem;
    border-width: 0;
    border-radius: 5px;
    color: white;
    cursor: pointer;
  }

  #createNoteBtn {
    background-color: rgb(3, 79, 15);
  }

  #deleteNoteBtn {
    background-color: rgb(139, 3, 3);
  }

  #app {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(75px, 100fr));
    column-gap: 1rem;
    max-width: 90%;
    margin: 0 auto;
  }
  
  .note {
    padding: 1rem;
    height: 200px;
    margin-bottom: 10px;
    border: .3px solid rgba(0, 0, 0, .1);
    border-radius: 5px;
  }

  .note h3{
    text-align: center;
  }

  #createNoteForm, #deleteNoteForm {
    margin: 0 auto;
    width: 50%;
  }

  #createNoteForm h2, #deleteNoteForm h2 {
    text-align: center;
  }

  #createNoteForm form, #deleteNoteForm form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 50%;
  }

  #createNoteForm form input[type=text], #createNoteForm form textarea, #deleteNoteForm form select{
    border: .3px solid rgba(0, 0, 0, .3);
    border-radius: 5px;
    padding: .5rem;
  }

  #createNoteForm form button, #deleteNoteForm button {
    padding: 1rem;
    width: 100%;    
    border-width: 0;
    color: white;
  }

  #createNoteForm form button {
    background-color: rgb(64, 50, 250);
  }

  #deleteNoteForm form button {
    margin-top: 1rem;
    background-color: rgb(139, 3, 3);
  }

.colorButton {
  width: 30px;
  height: 30px;
  margin: 5px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.yellow { background-color: yellow; }
.blue { background-color: blue; }
.green { background-color: green; }
.pink { background-color: pink; }
